<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns     = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.ely.verdejar"
        version   = "2.0.0">
    <name>Verdejar</name>

    <description>
        Verdejar
    </description>

    <author href="http://phonegap.com" email="elyfprado@gmail.com">
        Ely Prado
    </author>

    
    <icon src="res/icon/icon.png" />
    <preference name="phonegap-version" value="cli-7.0.1" />
    <plugin name="cordova-plugin-splashscreen" />

	
	<plugin name="cordova-plugin-camera"  />
	<plugin name="cordova-plugin-file" spec="4.2.0" />
    <plugin name="cordova-plugin-file-transfer" spec="1.5.1" />
    <plugin name="cordova-plugin-geolocation" />  
	
    <plugin name="cordova-plugin-whitelist"  />
    

    <access origin="http://*.phonegap.com" subdomains="true" />
    <access origin="*://*.googleapis.com/*" subdomains="true" />
    <access origin="*://*.gstatic.com/*" subdomains="true" />
    <access origin="*://*.google.com/*" subdomains="true" />
    <access origin="*://*.googleusercontent.com/*" subdomains="true" />
    <access origin="http://certificados.fatecfranca.edu.br/*" subdomains="true" />

</widget>
